<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="style.css">
</head>
<style>
#hello {
					background-color:red;
					color:white;
	}
</style>

<body>
  <center>
<input type="button" id="hello" value="me" onclick="add()";/>
<input type="button" value="me" onclick="remove()";/>
<div id="h"></div>
<ins>g ggh  hh hhh</ins>
<del>hhhjij hhggf </del></br>
<s>gggg</s>

</center>
  <!-- Project -->
  <script>
  				function add(){
  				document.getElementById("h").innerHTML="hh"
  				}
  				
 function remove(){
 document.getElementById("h").innerHTML=""
 }
 function w(){
 add();
 remove();
 }
 
  
  </script>
</body>
</html>
